name: Build

on:
  workflow_run:
    workflows:
      - Test Build
    branches:
      - main
    types:
      - completed

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
