name: Build Deploy

on:
  push:
    branches:
      - main

jobs:
  test-build:
    uses: ./.github/workflows/test-docker.yml

  deploy:
    needs: test-build
    uses: ./.github/workflows/deploy.yml
    secrets: inherit

