name: Build Docker Images

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build auth_service Docker image
        run: |
          docker build -t auth_service:build ./auth_service
